
<div class="container">
<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="devhoot" method="get"><i class="fas fa-home"></i> Back to Home</a>
</nav>
</div>
<style>
   .navbar-brand {
       padding-left: 42vw;
   }

   @media screen and (max-width:800px) {
       .navbar-brand {
       padding-left: 22vw;
   }   
   }
</style>