<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
            <a href="/blog" class="navbar-brand" style="font-size:24px"><-  Back</a></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html">Home</a></li>
            </ul>
        </div>
    </div>
</div>