
<div class="container">
<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="/blog"><i class="fas fa-home"></i> Back to Blog</a>
</nav>
</div>
<script src="//platform-api.sharethis.com/js/sharethis.js#property=5b73d239cf37800012d863b5&product=sticky-share-buttons"></script>
<style>
   .navbar-brand {
       padding-left: 42vw;
   }

   @media screen and (max-width:800px) {
       .navbar-brand {
       padding-left: 22vw;
   }   
   }
</style>